*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 155,35px 48 2 1;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 333px 31
    19 257;
    list-style: none;
}
.background{
    
    
}
.texto{
    
  

    
}
.container{
    display: flex;
    gap: 10px;
    height: 600px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: start;
    
    
}
.produtos{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
   
}